/*
Non-responsive Bootstrap
*/
.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 1100px;
}

h1, h2, h3, h4, .navbar-brand, .navbar-nav {
    /*font-family: 'Roboto Slab', 'Times';*/
    font-family: 'Oxygen', 'Arial';
    letter-spacing: 1px;
    /*font-weight: 500;*/
}
p, div, h5, h6 {
    font-family: 'Roboto', 'Arial';
    letter-spacing: .1px;
}

div.transbox
{
  background-color: #ffffff;
  opacity:0.6;
  width: 35em;
  margin: 0 auto;
  padding: 1px 0 1px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

/*
Banners
Free stock photos from: http://raumrot.com/
*/
.banner-main,
.banner {
	background-size: cover;
	/*background-color: #DAF0F2;*/
	margin: -1.4em 0em 2em 0em;
	text-align: center;
  padding: 2em 10em 3em 10em;
  color: white;
}
.banner h1 {
	font-size: 4em;
}
.banner p {
	font-size: 2em;
}

#banner-about, #banner-team, #banner-contact {
  background-image: url("../img/leaves.jpg");
}

.description {
  margin-top: -1em;
	padding: 0 6em 0 6em;
}

.description p, li {
	font-size: 1.2em;
}

.description h1, h2 {
	/*color: #008B8B;*/
}

/* Navbar */
.navbar-brand {
	font-size: 1.8em;
}

.navbar-default {
    border: 0px;
    border-radius: 0px;
    /*background-color: #cd0000;  /* red */
    background-color: #f96a59;
    /*background-color: #DF3131;*/
}

/* title */
.navbar-default .navbar-brand {
    color: white;
}

/* navbar-nav */
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    /*border-bottom: 2.5px solid white;*/
    -webkit-box-shadow: inset 0px -8px 0px -6px white;
    -moz-box-shadow: inset 0px -8px 0px -6px white;
    box-shadow: inset 0px -8px 0px -6px white;
}
.navbar-nav {
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    font-size: .95em;
}

/* navbar-toggle */
.navbar-default .navbar-toggle .icon-bar  {
  background-color: white;
}
.navbar-default button.navbar-toggle.collapsed:focus,
.navbar-default button.navbar-toggle.collapsed{ background-color: transparent;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
}
.navbar-default button.navbar-toggle:focus,
.navbar-default button.navbar-toggle.collapsed:hover{ background-color:#ddd;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
}

/*
Carousel
*/
.carousel-control.left, .carousel-control.right {
  background-image: none;
  opacity: 1.0;
}

.carousel-control.left:hover, .carousel-control.right:hover {
  opacity: .4;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
}


/*
Main maps.html div
*/
.content {
	background: white;
}

.center-block {
	float: none;
}

/*
Front page
*/
/*#front-page {
	background-image: url("../img/travel.jpg");
	background-size: 100%;
	background-color: #000000;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html, body {
  margin:0px;
  padding:0px;
}
html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  /*-webkit-font-smoothing: antialiased;*/
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  background: #F5F5F5;
  text-rendering: optimizeLegibility; 
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #F2F2F2;
}

/*
Buttons: http://bootstrapbay.com/demo/push/demo
*/
.btn {
  padding: 7px 12px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Roboto', 'Arial';
  /*border-radius: 0;*/
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.btn-default {
  /*border: 1.8px solid #737373;*/
  background: #F5F5F5;
  color: #737373;
  /*font-color: white;*/
  /*padding: 12px 22px;*/
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  /*background: #FFFFFF;*/
  background: Gainsboro;
}
.btn-default:active, .btn-default.active {
  border-color: #C4C4C4;
  box-shadow: none;
}
.btn-primary {
  background: #0099cc;
  color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}
.btn-success {
  background: #00bf6f;
  color: #ffffff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  background: #39bf87;
}
.btn-success:active, .btn-success.active {
  background: #008c52;
  box-shadow: none;
}
.btn-info {
  background: #31cde8;
  color: #ffffff;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  background: #5fd4e8;
}
.btn-info:active, .btn-info.active {
  background: #35a2b5;
  box-shadow: none;
}
.btn-warning {
  background: #eb8f34;
  color: #ffffff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  background: #eba259;
}
.btn-warning:active, .btn-warning.active {
  background: #b87430;
  box-shadow: none;
}
.btn-danger {
  background: #f25454;
  color: #ffffff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background: #f26d6d;
}
.btn-danger:active, .btn-danger.active {
  background: #bf4343;
  box-shadow: none;
}

/******************************************************
  BUTTON SIZING
******************************************************/
/*
.btn-xs, .btn-group-xs > .btn {
  padding: 2px 6px;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 8px 12px;
}
.btn-lg {
  padding: 20px 40px;
  border-radius: 4px;
}
.btn-xs.btn-default, .btn-xs.outline {
  padding: 0px 4px;
}
.btn-sm.btn-default, .btn-sm.outline {
  padding: 6px 10px;
}
.btn-lg.btn-default, .btn-lg.outline {
  padding: 18px 38px;
}