<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta charset="utf-8">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/slider.css' %}" rel="stylesheet" media="screen">

        <!-- CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/hover.css' %}" rel="stylesheet" media="all">

        <!--Javascript-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700|Oxygen:400,700|Montserrat' rel='stylesheet' type='text/css'>

        <title>{% block title %}Spotify{% endblock %}</title>
    </head>

    <body>

	<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<center>
	    <h1>Twitterfy</h1>
	    <div id="results"></div>
		</center>
	</div>
	</div>
    <div id="song-title">

    </div>

    <div id="song-lyrics">

    </div>

	</body>
</html>

<script id="results-template" type="text/x-handlebars-template">
	// {% verbatim %}
 //    {{#each songAlbums}}
	// {% endverbatim %}
 //    <div style="background-image: url({% verbatim %}{{ previewUrl }}{% endverbatim %})" class="cover"></div>
 //    {% verbatim %}
 //    {{/each}}
	// {% endverbatim %}
</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>

<script type="text/javascript">
// find template and compile items
var templateSource = document.getElementById('results-template').innerHTML,
    template = Handlebars.compile(templateSource),
    resultsPlaceholder = document.getElementById('results'),
    playingCssClass = 'playing',
    audioObject = null;

var fetchTracks = function (albumId, callback) {
    $.ajax({
        url: 'https://api.spotify.com/v1/albums/' + albumId,
        success: function (response) {
        	console.log("success!");
            callback(response);
        }
    });
};

var searchByLyrics = function( query) {
    var url = 'http://api.lyricsnmusic.com/songs?api_key=efee5f39bd2b6902960d1a8d44542f';
    query = query.join(' ');
    $.ajax({
        url: url,
        data: {
            lyrics: query,
        },
        success: function(response) {
            console.log(response);
        }
    })
}

var searchAlbums = function (query) {
    query = query.slice(0, 2);
    for (var i = 0; i < query.length; i++) {
    	query[i] = capitalizeFirstLetter(query[i]);
    }
    query = query.join(' ');
    var type = 'track';
    var songObj, albumTitle, trackTitle, previewUrl, artist, query;
    console.log(query);
    $.ajax({
        url: 'https://api.spotify.com/v1/search',
        data: {
            q: query,
            type: type
        },
        success: function (response) {
            console.log(response);
            var responded = false;
            /*

            Query words, album title, track title
            */
            if (type == 'track' && response['tracks']['items'].length) {
                var responded = true;
                if (audioObject) {
                    audioObject.pause();
                }
                audioObject = new Audio(response.tracks.items[0].preview_url);
                audioObject.play();
                songObj = response['tracks']['items'][0];
            }

            else if (type == 'album' && response['albums']['items'].length) {
                var responded = true;
                fetchTracks(response["albums"]["items"][0]['id'], function (data) {
                    if (audioObject) {
                        audioObject.pause();
                    }
                    audioObject = new Audio(data.tracks.items[0].preview_url);
                    audioObject.play();
                });
            }

            if (!responded) {
                return;
            }
            songObj = response[type + 's']['items'][0];
            albumTitle = songObj['album']['name'];
            trackTitle = songObj['name'];
            previewUrl = songObj['album']['images'][0]['url'];
            artist = "";
            for (var a in songObj['artists']) {
                artist += songObj['artists'][a]['name'] + ", ";
            }
            artist = artist.slice(0, artist.length - 2);
            // resultsPlaceholder.innerHTML = template(songInfo);
            console.log(previewUrl);
            resultsPlaceholder.innerHTML = "<p>Search Terms: " + query + "</p><p>Artist: " + artist + "</p><p>Album: " + albumTitle + "</p><p>Track: " + trackTitle +
            "</p><p>" + "<div style='background-image: url(" + previewUrl + ")' class='cover'></div></p>";



        }
    });
};

function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

function getTags() {
    $.ajax({
        url: '/api',
        success: function (response) {
            var tags = response.tags;
            var songs = response.songs;
            searchAlbums(tags);
            // console.log(tags, songs);
            // if (songs && songs.length) {
            //     getSongByArtistAndTitle(songs[0]);
            // }
            setTimeout(getTags, 10000);
        }
    });
}

function getSongByArtistAndTitle(song) {
    if (!song) {
        return;
    }
    console.log(song);
    var baseurl = 'https://api.spotify.com/v1/search';
    var query = '?q=' + song.title + '%20artist:' + song.artist.name + '&type=track';
    $.ajax({
        url: baseurl + query,
        success: function (response) {
            console.log(response);
            if (response.tracks.items && response.tracks.items.length) {
                if (audioObject) {
                    audioObject.pause();
                }
                audioObject = new Audio(response.tracks.items[0].preview_url);
                audioObject.play();
                document.getElementById('song-title').innerHTML = song.title + song.artist.name;
                document.getElementById('song-lyrics').innerHTML = song.context;
            }
        }
    });
}


$(document).ready(function() {
    getTags();
})
</script>
